.footer{
    background-color: #1d1d1d;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}