.input {
    width: 776px;;
    height: 50px;
    border: 0;
    border-radius: 13px;
    display: flex;
    margin-top: 20px;
    margin-left: 11px;
    font-size: 20px;
    padding-left: 10px;
}
.input::placeholder {
    font-size: 20px;
    color: #CECECE;
    padding-left: 20px;
    align-items: center;
}